<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Slim Shady Fan Club - Home</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <header class="ivy_header">
            <nav class="ivy_navbar"></nav>
            <section class="ivy_carousel">
                <div class="ivy_slide" v-for="(slide, index) in slides" :class="index === activeIndex ? 'ivy_active' : ''">
                    <div v-if="index === activeIndex" >
                        <img :src="slide.image" class="ivy_slide_img"></img>
                        <div class="ivy_album_info">
                            <h1 class="ivy_slide_title">{{ slide.name }}</h1>
                            <h2 class="ivy_slide_year">{{ slide.year }}</h2>
                        </div>
                    </div>
                </div>
                <button class="ivy_slide_btn ivy_prev" @click="prevSlide()">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button class="ivy_slide_btn ivy_next" @click="nextSlide()">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </section>
        </header>
    </div>
    <script src="script.js"></script>
</body>
</html>